<div class="container">
  <div class="row justify-content-center">
    <div class="col=6">
      <h1 class="text-wrap" style="font-weight: 400; font-size: 2.8rem">
        The Playlists
      </h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9">
      <p style="font-weight: 400">
        Here you can create your own playlist, edit your already existing
        playlist, add songs, and show it to the world!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-auto">
      <button class="btn btn-primary" style="font-weight: 400">
        <span>iccon</span> New Playlist
      </button>
    </div>
  </div>
</div>
